body {
    font-family: 'PT Sans', sans-serif;
    background-color: #fcdb00;
}
/*first section-header */

.header {
    background-color: #fcdb00;
    padding-top: 78px;
    padding-bottom: 0;
}
ul,li {
    display: block;
    padding: 0;
    margin: 0;
}

.menu__item a {
    font-size: 20px;
    font-weight: 700;
    color: black;
    padding-right: 60px
}
/*second block*/ 
.Inspire {
    background-color: #fcdb00;
}
.offer__title {
    font-weight: 700;
    color: black;
    font-size: 32px;
}
.offer__intro {
    font-weight: 400;
    color: #47493e;
    padding-top: 27px;
    font-size: 20px;
    width: 400px;

}

.offer__text {
    font-size: 16px;
    color: #656151;
    padding-top: 27px;
    font-weight: 400;
}

.offer {
    padding-top: 130px;
}

.icons__item a {
    color: black;
    font-size: 40px;
    transition: all 0.3s lase;
    padding-right: 40px;
}

.ipad {
    display: block;
    margin: 70px 0 108px 0;
}
.title {
    padding-top: 100px;
    padding-bottom: 70px;
}

.title__main {
    color: black;
    font-size: 32px;
}
.title__text {
    font-size: 20px;
    width: 734px;
    margin: 0 auto;
}
.feature__text {
    width: 205px;
}
.feature__icons {
    color: black;
    width: 36px;
    height: 40px;
    padding-right: 35px;
}


